{% extends "app/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-books' object.owner.username %}">{{ object.owner }}</a>
        <small class="text-muted">{{ object.date_added|date:"F d, Y" }}</small>
        {% if object.owner == user %}
          <div class="">
            <a class="btn btn-secondary btn-sm mt-1 mb-2" href="{% url 'book-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-2" href="{% url 'book-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
 
